*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    padding: 0rem 5rem;
}

.nav-links{
    display:flex;
    list-style: none;
}

.nav-links li{
    margin: 1rem 2rem;
    font-size: 1.5rem;
    padding: 5px 15px;
}

#logo{
    font-size: 2.5rem;
    font-family: 'RocknRoll One', sans-serif;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

ul a:hover{
    box-shadow: 5px 5px 3px #888888;
    border-radius: 50px;
}



.home-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.facts{
    font-size: 1.2rem;
    width: 40vw;
}

.home-content h2{
    margin-bottom: 40px;
}

.home-content p{
    margin-bottom: 20px;
}

.order-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    height: 60%;
    overflow: auto;
   
    

}
.grid-container {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px;
    padding: 10px;
    background-color: white;
    
  }
  .grid-headline{

    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  .grid-item {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  button{
      padding: 12px;
      border-radius: 10px;
      background-color: none;
      border: solid 1px white;
      box-shadow: 5px 5px 3px #888888;
  }
  button:hover{
      background-color: rgb(212, 212, 151);
  }

.item{
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}

.nav-items{
    display: flex;
    justify-content: space-around;
    padding: 1rem 4rem 1rem 4rem;
    list-style-type: none;
}
.form-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
    align-items: center;
    
}

.form{

    text-align: center;
}
.form div{
    padding: 12px;

}

.sort{
    padding: 5px;
    position: relative;
    left: 82%;
    top: 2%;
}


#login{
    background-color: rgba(136, 133, 133, 0.2);
    border-radius: 30px;
}

.main-footer{
    background-color:rgba(29, 25, 25, 0.253);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

